.category__left .brands .check2 label .MuiIconButton-label {
  color: green;
}
.category__left .brands .check2 label {
  margin: unset;
}
.brands {
  border-top: 1px solid #e0e0e0;
}
.applied-filter {
  font-size: 16px;
  color: #8bc34a;
  font-weight: bold;
}
ul li .MuiChip-colorSecondary {
  color: white;
}
.category__left .categories ul li :hover {
  color: #8bc34a;
}
