.category-list--title .view {
  div {
    cursor: pointer;
  }
}
.percent {
  background-color: red;
  color: white;
}
.start-wcl {
  color: white;
}
.category__right .category-card .card-infor__right .btn-filter .main-btn {
  a {
    text-align: center;
    color: white;
    font-weight: bold;
  }
}
.wish-btn {
  text-align: center;
}
