.loading-state {
  @keyframes shine {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  .--loading {
    background: linear-gradient(to right, #f0f0f0 5%, #d6d6d6 35%, #f0f0f0 50%);
    background-size: 50% 100%;
    animation: shine 1s ease-in-out infinite;
  }

  .category-list--title {
    div {
      h2 {
        opacity: 0;
        color: #ccc;
      }
    }
  }
  .filter-choose {
    > * {
      opacity: 0;
    }
    width: 50%;
  }
  .filter-list {
    > * {
      opacity: 0;
    }
    width: 30%;
  }
  .categories {
    padding: 10px;
    color: #ccc;
    .title {
      color: white;
      background: white;
    }
    ul {
      li {
        .category-name,
        .select-filter {
          color: white;
          background: white;
        }
      }
    }
  }
  .brands {
    padding: 10px;
    color: #ccc;
    .title {
      color: white;
      background: white;
    }
    .check2 label span {
      color: white;
      background: white;
    }
  }
  .rating {
    padding: 10px;
    color: #ccc;
    .title {
      color: white;
      background: white;
    }
    .check2 label span {
      display: block;
      color: white;
      background: white;
    }
  }
  .category__right {
    .category-card {
      color: #ccc;
      .card-img {
        div {
          max-height: 180px;
          height: 180px;
          color: white;
          background: white;
        }
      }
      .card-infor {
        .card-infor__left,
        .card-infor__right {
          > * {
            color: white;
            background: white;
            display: block;
          }
          .btn-filter {
            a {
              border: none;
              color: white;
              background: white;
            }
          }
        }
        .card-infor__left {
          > * {
            margin: 5px 0;
          }
        }
        .card-infor__right {
          .price,
          .sale-price {
            width: 50%;
          }
          > * {
            margin: 5px 0;
          }
        }
      }
    }
  }
}
.filter-choose .check1 {
  margin-bottom: 16px;
  .MuiTabs-indicator {
    height: 3px;
  }
}
.category__left {
  border-right: 1px solid #e0e0e0;
}
.category-list--title .view div {
  cursor: default;
  align-items: center;
  i {
    width: unset;
    height: unset;
  }
}
.category-list--title .view .view-list {
  cursor: pointer;
  &:hover {
    span {
      color: green;
    }
  }
}
.percent {
  background-color: #ff3d00;
  color: white;
}
.category__right .category-card .card-infor__right {
  flex-direction: row;
  align-items: center;
  .sale-price {
    margin-left: 16px;
    margin-bottom: unset;
  }
}
.category-grid .category__right .category-card {
  position: relative;
  cursor: pointer;

  .tooltiptext {
    visibility: hidden;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    top: 30%;
    right: 50%;
    width: 100%;
    transform: translate(50%, -30%);
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    .tooltiptext {
      visibility: visible;
    }
  }
}
.category-grid .category__right .category-card .card-img {
  max-height: 230px;
}
.category__right .category-card .card-infor__left {
  .title,
  .small-des {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .category-list--title {
    flex-direction: column;
    h2 {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
  .filter-choose {
    flex-direction: column;
  }
  .check1 {
    .lable {
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    flex-direction: column;
    .MuiTabs-flexContainer {
      flex-direction: column;
    }
    .MuiButtonBase-root {
      width: 100%;
    }
    .PrivateTabIndicator-root-42 {
      display: none;
    }
  }
  .category-grid .category__right {
    .category-card {
      width: 50%;
      border: unset;
      margin-right: unset;
      &:nth-child(3n) {
        margin-right: unset;
      }
    }
  }
}
