.category-page {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .category-list--title {
      flex-direction: column;
      > * {
        width: 100%;
      }
      h2 {
        font-size: 28px;
      }
      .view {
        margin-top: 10px;
        justify-content: flex-start;
      }
    }
    .filter-choose {
      div.check1 {
        width: 100%;
        margin: unset;
        flex-wrap: wrap;
        div.label {
          width: 100%;
        }
        .filter-cricle {
          width: 50%;
          margin-right: unset;
          display: flex;
          align-items: center;
          margin-top: 10px;
        }
      }
    }
  }
  .category__left > * {
    margin-bottom: 20px;
  }
}
