.content-infor .MuiPaper-rounded {
  p {
    margin-top: 5px;
    margin-bottom: 12px;
  }
  h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}
.card-rating {
  display: flex;
  align-items: center;
  p {
    margin-right: 8px;
  }
}
.content-infor {
  .hide-infor {
    overflow: hidden;
    height: 300px;
  }
  .show-more {
    color: white;
    display: block;
    margin: 0 auto;
  }
}
.add-cart__price {
  .percent {
    position: unset;
    top: unset;
    left: unset;
  }
}
.product-detail__right {
  .add-cart {
    justify-content: flex-start;
    background: linear-gradient(100deg, rgb(255, 66, 78), rgb(253, 130, 10));
  }
  .add-cart__price {
    width: 50%;
    flex-direction: row;
    align-items: center;
    span {
      font-size: 16px;
      &.price {
        color: white;
        font-size: 32px;
      }
      &.percent {
        font-size: 16px;
        background-color: unset;
      }
      margin-right: 8px;
      color: white;
    }
  }
  .available {
    width: 50%;
  }
}
