.fashion__card {
  .image {
    a {
      overflow: hidden;
      max-height: 300px;
      height: 250px;
      img {
        object-fit: unset;
        border-radius: 1rem;
      }
    }
    .percent {
      background-color: red;
      color: white;
    }
  }
  .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    h3 {
      font-size: 14px;
      margin-bottom: 10px;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    .price {
      color: grey;
      text-transform: none;
      text-decoration: line-through;
      margin-right: 10px;
    }
    .price,
    .sale {
      font-size: 14px;
    }
    &__price {
      display: flex;
    }
  }
}
